/*modify by 林純歆*/
@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "微軟正黑體";
}

/* 購物車的標籤 */
a#myShoppingCart {
	position: relative;
}

span#cart-total {
	position: absolute;
	top: -5px;
	right: -5px;
}

/* 卡片組購物車標籤 */
div#myShoppingBasket {
	bottom: 75%;
	right: 0;
}

form#form-myShoppingBasket {
	width: 500px;
	font-size: 0.75em;
}

/* 卡片組標籤 */
.shopping-box-type1 {
	clear: both;
	width: 1200px;
	background-color: rgba(199, 138, 130, 0.1);
}

.shopping-box-title {
	padding: 15px;
	background-color: rgba(199, 138, 130, 0.1);
}

.v-pills-shopping-title {
	padding: 10px 5px 0 5px;
	padding: 10px;
	width: 400px;
	margin: 10px;
	padding: 15px 0 10px 10px;
	color: #af3f3f;
	line-height: 22px;
	border-bottom: 3px solid #ecc2b1;
}

.card-deck {
	margin-top: 10px;
}

img {
	hight: 250px;
	width: auto;
}

/* 商品卡片選中效果 */
.h-100:hover {
/* 	border: 2px solid black; */
	border-radius: 10PX;
	border: 2px solid rgba(108, 137, 175, 0.5);
	box-shadow: 0 15px 10px 0 rgba(52, 105, 157, 0.2), 0 15px 10px 0
		rgba(52, 105, 157, 0.2);
}

.h-100:active {
/* 	border: 2px solid red; */
	border-radius: 10PX;
	border: 3px solid rgba(255, 170, 127, 0.5);
	box-shadow: 0 15px 10px 0 rgba(255, 170, 127, 0.2), 0 15px 10px 0
		rgba(255, 255, 127, 0.2);
	
}


/* 40px */
/* 按鈕大小：.toTop-arrow 中的 width 及 height
			按鈕顏色：.toTop-arrow 中的 background 搭配 opacity 設定透明度
			按鈕外型：.toTop-arrow 中的 border-radius，50% 變成圓形按鈕，0% 則是正方形
			浮動位置：.toTop-arrow 中的 right 及 bottom
			箭頭顏色：.toTop-arrow::before, .toTop-arrow::after 中的 background
			箭頭粗細：.toTop-arrow::before, .toTop-arrow::after 中的 height: 7px; 及 width: 31px;
			箭頭位置：.toTop-arrow::before 的 left 及 .toTop-arrow::after 的 right，及兩者的 translate(0, -50%) */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #c78a82;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}

.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #ffd3cf;
	position: absolute;
	content: "";
}

.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}

.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}

.toTop-arrow:focus {
	outline: none;
}